@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0; padding: 0;
}
:root{
    --main-bg-color: #2874f0;
}
header{
    
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'PT Sans', sans-serif;
}
nav{
    display:flex;
    justify-content: space-around;
}
nav ul{
    height: 50px;
    display: flex;
    justify-content: center ;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0px 23px;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight:bolder;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 105px;
    padding: 0px 23px;
}
.search{
    display: flex;
    align-items: center;
    width: 30vw;
    }
.search input{
    display: flex;
    justify-content: flex-start;
    padding: 0px 5px;
    width: 30vw;
    height: 25px;
    border-radius: 2px;
    margin-right: 7px;
}
.container{
    min-height: calc(100vh - 100px);

}
.slider{
    margin: auto;
    width: 80vw;
    margin: 20px auto;
}

footer{

    height: 50px;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'PT Sans', sans-serif;
}